<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="col-xs-7 col-xs-offset-1">
  <div class="form-inline">
    <%= link_to users_user_path(visitor) do %>
      <strong><%= visitor.name %></strong>
    <% end %>
    さんが
    <% case notification.action %>
    <% when 'follow' then %>
      あなたをフォローしました
    <% when 'favorite' then %>
      <%= link_to 'あなたの投稿', users_item_path(notification.item), style: "font-weight: bold;" %>
      にいいねしました
    <% when 'comment' then %>
      <% if notification.item.user_id == visited.id %>
        <%= link_to "あなたの投稿", users_item_path(notification.item), style: "font-weight: bold;" %>
        にコメントしました
      <% else %>
        <span>
          <%= link_to users_item_path(notification.item ) do %>
            <strong>
              <%= notification.item.user.name + 'さんの投稿' %>
            </strong>
          <% end %>
        </span>
        にコメントしました
      <% end %>
    <% end %>
  </div>
</div>
<div class="col-xs-2 text-muted form-inline noti-time">
  <%= time_ago_in_words (notification.created_at) %>前
</div>
<div class="col-xs-2 form-inline noti-btn">
  <%= link_to "削除", users_notification_path(notification), method: :delete, class: "noti-btn btn btn-danger" %>
</div>
