<p> コメント数：<%= @item.item_comments.count %></p>
<% item_comments.each do |item_comment| %>
    <li class="comment">
        <div class="comment-body bb">
            <div class="comment-avatar">
            </div>
            <div class="comment-text">
                <div class="comment-author clearfix">
                    <a href="#" class="link-author"><%= item_comment.user.name %></a>
                    <span class="comment-meta">
                      <span class="comment-date"><%= item_comment.created_at.strftime('%Y/%m/%d' ' %H:%M:%S') %></span>
                    </span>
                </div>
                <div class="comment-entry"><%= item_comment.comment %>
                </div>
                <div><% unless current_user != item_comment.user %>
                	<%= link_to "削除", users_item_item_comments_path(item_comment.id), method: :delete, class: "com", remote: true %>
                	<% end %>
                </div>
            </div>
        </div>
    </li>
<% end %>