<p> コメント数：<%= @item.comments.count %></p>
<% comments.each do |comment| %>
    <li class="comment">
        <div class="comment-body bb">
            <div class="comment-avatar">
            </div>
            <div class="comment-text">
                <div class="comment-author clearfix">
                    <a href="#" class="link-author"><%= comment.user.name %></a>
                    <span class="comment-meta">
                      <span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d' ' %H:%M:%S') %></span>
                    </span>
                </div>
                <div class="comment-entry"><%= comment.comment %>
                </div>
                <div><% unless current_user != comment.user %>
                	<%= link_to "削除", users_item_comments_path(comment.id), method: :delete, class: "com", remote: true %>
                	<% end %>
                </div>
            </div>
        </div>
    </li>
<% end %>