<p> コメント数：<%= comments.count %>件</p>
<% comments.each do |comment| %>
        <div class="comment-body bb">
            <div class="comment-avatar">
            </div>
            <div class="comment-text">
              <% if comment.user.user_image_id != nil %>
                <div class="comment-author clearfix">
                    <%= link_to users_user_path(comment.user) do %>
                        <p class ="comment-user"><%= comment.user.name %>さん</p>
                        <%= attachment_image_tag comment.user,  :user_image, :fill, 50,50, format:'jpeg' ,class: "user-com-image",fallback: comment.user.default_image, size:'50x50' %>
                    <% end %>
                    <span class="comment-meta">
                      <span class="comment-date" style="vertical-align: top;"><%= comment.created_at.strftime('%Y/%m/%d' ' %H:%M:%S') %></span>
                    </span>
                </div>
              <% else %>
                <div class="comment-author clearfix">
                    <%= link_to users_user_path(comment.user) do %>
                        <p class ="comment-user"><%= comment.user.name %>さん</p>

                        <div class="user-defo-image-box" style="background-color: <%= comment.user.default_backgroud_color %>;"><%= attachment_image_tag comment.user,  :user_image, height: "50px", width: "50px",fallback: comment.user.default_image %></div>
                    <% end %>
                      <span class="comment-date" style="vertical-align: top;"><%= comment.created_at.strftime('%Y/%m/%d' ' %H:%M:%S') %></span>
                </div>
              <% end %>
                <div class="comment-entry">コメント：<%= comment.comment %>
                </div>
                <div><% unless current_user != comment.user %>
                	<%= link_to "削除", users_item_comments_path(comment.id), method: :delete, class: "com", remote: true %>
                	<% end %>
                    <hr class="bottom-line">
                </div>
            </div>
        </div>
<% end %>
<%= paginate comments, class: "pagination" %>