<%= javascript_include_tag "user.js" %>


<div class="container">
  <div class="row">
    <div class="col-xs-6 headerNavBox col-xs-offset-3">


		<h1>投稿するジャンル/カテゴリーを選択していて下さい</h1>

		<%#= render 'users/items/genre_list', genres: @genres %>


		<%#= render 'users/items/category_list', categories: @categories %>

		<% if @item.errors.any? %>
		  <div id="error_explanation" class="alert alert-danger">
		    <ul>
		      <% @item.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		    </ul>
		  </div>
		<% end %>
		<!-- <p>画像</p> -->
		<%= form_for @item, url: users_items_path do |f| %>
			<div class="field row">
				<%= f.label :category %>
				<%= f.select :category_id, Category.all.map { |category| [category.name, category.id] } %>
			</div>


			<div class="field row">
				<h4><%= f.label :title %></h4>
				<%= f.text_field :title, class: "col-xs-5 item_title" %>
			</div>

			<div class="field row">
				<div class ="work-image-pre center">
					<%= attachment_image_tag @item, :item_image, src: "", id:"item_image", size: "300x200", alt:"Image preview", class: "item_prev", fallback: "noimage2.png" %><br>
				</div>

			    <div class="file-field input-field">
			    	<div class="btn">
			        	<span>File</span>
		<!-- 画像フォーム -->
			        	<%= f.attachment_field :item_image, id:"post_img" %><br>
			      	</div>
			    </div>
			</div>

			<div class="field row">
				<h4><%= f.label :description %></h4>
				<%= f.text_area :description, class: "col-xs-5 item_body" %>
			</div>
		　
			<div class="field row">
				
			</div>

			

			<div class="actions row">
				<%= f.submit class: "btn btn-primary col-xs-5" %>
			</div>
		<% end %>
		<!-- <p>音・音楽</p> -->
		<!-- <p>動画</p> -->

		</div>
	</div>
</div>



