<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-7">
      <div class="row">
        <div class="col-xs-8">
          <h2>Title:<%= @item.title %></h2>
        </div>
        <div class="col-xs-4">
          <% if user_signed_in? %>
          <% if @item.user.id == current_user.id %>
            <%= link_to edit_users_item_path(@item) do %>
            <%= image_tag 'edit3.png', :size=>"80x80" ,class: "logo-image" %>
            <% end %>
          <% end %>
          <% end %>
        </div>

        <div class="col-xs-12">
          <%= attachment_image_tag @item, :item_image, fallback: "noimage2.png", size: '640x400'  %>
        </div>
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-9">
            </div>

            <div id="item_favorite" class="col-xs-3" >
              <%= render 'item_favorite', item: @item %>
            </div>
          </div>
          <div>
            <span>ジャンル/カテゴリー：</span>
            <span><%= @item.category.genre_status %>/<%= @item.category.name %></span>
          </div>
          <div>
            <p>概 要</p>
            <p><%= @item.description %></p>
          </div>

        </div>

      </div>
    </div> <!-- col-xs-6 end -->
    <div class="col-xs-3">
      <div>
        <% if user_signed_in? %>
          <%= form_with model: [:users, @item, @item_comment], data: {remote: true} do |f| %>
            <div class="row">
              <div class="col-sm-12">
                <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
              </div>
            </div>
            <%= f.submit "コメントする", class: "btn btn-primary btn-lg btn-base-1 mt-20 pull-right" %>
          <% end %>
        <% end %>
      </div>
      <div id="item_comment">
        <%= render 'comment_index', item_comments: @item_comments %>
      </div>
    </div>
  </div> <!-- row end -->
</div> <!-- container end -->







