


 <div class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>

    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-6">
          <h2>アイテム詳細画面</h2>
            <%= attachment_image_tag @item, :item_image, :fill, 600, 400, fallback: "noimage2.png", size: '300x200'  %>
        </div>
        <div class="col-xs-6">
          <table class='item_detail_table'>
                <tr>
                  <th>アイテム名</th>
                  <th><%= @item.title %></th>
                </tr>
                <tr>
                  <th>アイテム説明</th>
                  <th><%= @item.description %></th>
                </tr>
                <tr>
                  <th>ジャンル/カテゴリー</th>
                  <th><%= @item.category.genre_status %>/<%= @item.category.name %></th>
                </tr>

          </table>
              <%= link_to '編集する', edit_users_item_path(@item), class: "btn btn-primary btn-lg pull-right", data: {"turbolinks" => false} %>
        </div>
      </div>
    </div>
  </div>
</div>