show.html.erb

<h2>アイテム詳細画面</h2>
 <div class="container">
  <div class="row">
    <div class="col-xs-4">
        <%= attachment_image_tag @item, :item_image, :fill, 600, 400, fallback: "noimage2.png", size: '300x200'  %>
    </div>
    <div class="col-xs-8">
      <table class='item_detail_table'>
            <tr>
              <th>アイテム名</th>
              <th><%= @item.title %></th>
            </tr>
            <tr>
              <th>アイテム説明</th>
              <th><%= @item.description %></th>
            </tr>
            <tr>
              <th>ジャンル/カテゴリー</th>
              <th><%= @item.category.genre_status %>/<%= @item.category.name %></th>
            </tr>
            <tr>
              <th>税込価格（税抜価格）</th>
            </tr>
            <tr>
            <th>販売ステータス</th>
            <th>
            </th>
            </tr>
      </table>
          <%= link_to '編集する', edit_users_item_path(@item), class: "btn btn-primary btn-lg pull-right", data: {"turbolinks" => false} %>
    </div>
  </div>
</div>