<div class="container about-page">
  <div class="row about-area">
  	<div class="col-xs-10 col-xs-offset-1">
  		<div class="col-xs-6">
  			<h1>Respawnについて</h1>
        <hr class="home-border">
        <div>
          <p>【Respawn(リスポーン)】とは〈復活〉や〈再び生まれる〉という意味があります</p>
          <p>【Respawn】は現代社会の日々のストレスや疲れた心を<br>
             身近なウェブサイトでいつでも癒せるような写真の共有サイトです<br>
             日々の生活の中であなたが【Respawn】によって、「あともう少し頑張ってみよう」、「今日は頑張った、明日も頑張ろう」とまたやる気が復活できれば幸いです<br>
             そして、そんな気持ちになれるような写真をお互いに共有することでいつもよりも<br>
             さらにハッピーな日々を送れることでしょう♪
          </p>
        </div>
  		</div>
      <div class="col-xs-6">
        <video class="about-movie" src="<%= asset_path 'about_movie.mp4' %>"width="100%" autoplay muted loop playsinline></video>
      </div>
	  </div>
  </div>

  <div class="how-to-area">
    <div class="row how-to-use">
      <div class="col-xs-6 col-xs-offset-3">
        <h1>How To Use</h1>
      </div>
    </div>
    <div class="row how-to-list">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="row about-box1">
          <div class="col-xs-4">
            <div class="about-icon"><%= image_tag 'about1.png', height: "100px", width: "auto"%></div>
            <h2 class="about-text">- 画像の投稿・閲覧 -</h2>
            <p class="about-text">誰でも気軽に画像の投稿・閲覧ができます<br>
              お気に入りの画像をみんなで共有しましょう！
            </p>
          </div>
          <div class="col-xs-4">
            <div class="about-icon"><%= image_tag 'about2.png', height: "100px", width: "auto"%></div>
            <h2 class="about-text">- フォロー -</h2>
            <p class="about-text">フォロー、フォロワー機能が使えます<br>
              気になる人やお友達をフォローしましょう！
            </p>
          </div>
          <div class="col-xs-4">
            <div class="about-icon"><%= image_tag 'about3.png', height: "100px", width: "auto"%></div>
            <h2 class="about-text">- コメント -</h2>
            <p class="about-text">投稿に対してコメントができます<br>
              共感できる画像には積極的にコメントしてみましょう！
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="about-icon"><%= image_tag 'about4-1.png', height: "100px", width: "auto"%>
              <span class="icon4"><%= image_tag 'about4-2.png', height: "100px", width: "auto"%></span>
            </div>
            <h2 class="about-text">- <span class="about-iine">いいね＆お気に入り一覧</span> -</h2>
            <p class="about-text">気に入った投稿に"いいね"を送れます<br>
              "いいね"をした投稿を一覧で表示もできます！<br>
              "いいね"をいっぱい集めてランキングTOP５を狙ってみましょう！
            </p>
          </div>
          <div class="col-xs-4">
            <div class="about-icon"><%= image_tag 'about5.png', height: "100px", width: "auto"%></div>
            <h2 class="about-text">- 通知 -</h2>
            <p class="about-text">"フォロー"、"コメント"、"いいね"に対し<br>
              🔔のマークに通知が送られます <br>
              こまめにチェックしてみましょう！
            </p>
          </div>
          <div class="col-xs-4">
            <div class="about-icon"><%= image_tag 'about6.png', height: "100px", width: "auto"%></div>
            <h2 class="about-text">- 検索 -</h2>
            <p class="about-text">ユーザー・投稿を検索できます<br>
              あなたの気になる人・投稿を探してみましょう！
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
