<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="home-top-text">
        <h1 class="respawn-top">Respawn</h1>
        <hr class="home-border">
        <div class="top-text">
            ようこそRespawnへ！<br>
            ありとあらゆる癒しの写真をみんなで共有しましょう！
        </div>
      </div>
      <div class ="container signup">
        <div class="row">
          <div class="col-xs-12">
            <div class="single slider">
            <% @items.each do |item| %>
              <div><%= attachment_image_tag item, :item_image,size: '640x400', format: 'jpeg', fallback: "no_image.jpg" %>
                  <h4>Title【<%= item.title %>】</h4>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row icon-box">
        <div class="col-xs-8 col-xs-offset-2">
          <% if user_signed_in? %>
            <div class="col-xs-12">
              <%= link_to users_items_path do %>
                <%= image_tag 'Items.png', height: "80px", width: "auto"  ,class: "icon1" %>
              <% end %>
            </div>
          <% else %>
            <div class="col-xs-4">
              <%= link_to users_items_path do %>
                <%= image_tag 'Items.png', height: "80px", width: "auto"  ,class: "icon1" %>
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to new_user_registration_path do %>
                <%= image_tag 'Signup.png', height: "80px", width: "auto" ,class: "icon1" %>
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to new_user_session_path do %>
                <%= image_tag 'Login.png', height: "80px", width: "auto" ,class: "icon1" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
$(document).ready(function(){
 　$('.single').slick({
      centerMode: false, // スライドを中心に表示して部分的に前後のスライドが見えるように設定（奇数番号のスライドに使用）
      dots: false, // ドットインジケーターの表示
      autoplay: true, // 自動再生を設定
      autoplaySpeed: 3000, // 自動再生のスピード（ミリ秒単位）
      speed: 1000, // スライド/フェードアニメーションの速度を設定
      infinite: true // スライドのループを有効にするか
 　});
 });
</script>

