<!DOCTYPE html>
<html>
  <head>
    <title>Respawn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8092f4eb00.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Sawarabi+Gothic&display=swap" rel="stylesheet">
  </head>


  <div id="wrap">
<header>
  <div class="header">
    <div class="container-head">

      <div class="row">


        <div class="col-xs-6 headerNavBox">
          <a class="logo"><img src="/assets/logo.png" alt="" size= "300x200" ></a>

        </div>

        <div class="col-xs-6">
          <% if user_signed_in? && !request.fullpath.include?("admins") %>

          <nav>
            <ul>
            <li class="nav-list"><%= link_to "MyPage", users_user_path(current_user.id), class: "glyphicon glyphicon-item items" %></li>
            <li class="nav-list"><%= link_to "About", home_about_path, class: "glyphicon glyphicon-item items" %></li>
            <li class="nav-list"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-item items" %></li>
            <li class="nav-list"><%= link_to '投稿する', new_users_item_path, class: 'glyphicon glyphicon-item items' %></li>
            </ul>
          </nav>

          <% elsif admin_signed_in? && request.fullpath.include?("admins") %>
            <%#<%= link_to "商品一覧", admins_items_path, class: "col-xs-2 headerNavBtn admin_header" %>
            <%#<%= link_to "会員一覧", admins_users_path, class: "col-xs-3 headerNavBtn admin_header" %>
            <%#<%= link_to "ジャンル管理", admins_genres_path, class: "col-xs-3 headerNavBtn admin_header" %>
            <%= link_to "", destroy_admin_session_path, method: :delete, class: "col-xs-1 headerNavBtn admin_header glyphicon glyphicon-log-out" %>

          <% else %>
            <%#<%= link_to "ながのCAKEとは", home_about_path, class: "col-xs-4 headerNavBtn" %>
            <%= link_to "新規会員登録", new_user_registration_path, class: "col-xs-4 headerNavBtn" %>
            <%= link_to "ログイン", new_user_session_path, class: "col-xs-4 headerNavBtn" %>
          <% end %>
        </div>
      </div>






      </div>

    </div>
  </div>
</header>
</div>


  <body>
    <%= yield %>
  </body>
</html>
